---
---

@import "{{ site.theme }}";

#view-on-github {
    margin-right: 5px;
}

#read-blogs span { background: transparent url(../images/octocat-icon.png) 12px 50% no-repeat; }

table, th, td {
    border: 1px solid black;
}

th {
    font-size: large;
    font-weight: bold;
}
